
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared_style */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
}
.text-lightgray{
    color: #727272;
}
.bg-light{
   background-color:  rgba(255, 144, 14, 0.1);
}

/* navbar_style */
.navlink{
    list-style: none;

}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.navli{
    text-decoration: none;
    margin-right:10px ;

}
.navlist{
    display: flex;
   
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar{
    max-width: 1440px;
    margin:0 auto;
}
/* banner-style */
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 32px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;

}
.btn-primary{
    color:#FFFFFF;
    background-color: #FF900E;
    padding:20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border:1px solid black;
}
.banner-image{
    width:100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
/* team and feature realated style */
.team{
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.our-feature{
   margin-left: 130px;
   max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;

}
#Quick{
    color: #727272;
}
/* fact-related style  */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.fact{
    border:1px solid #FF900E;
    width: 240px;
    height: 240px;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 530px;
}

/* small device */
@media  screen and (max-width:576px) {
    .navlist ,.display-flex ,.team{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 20px;
    }

    
}
/* medium device */
@media screen  and (min-width:576px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px;
    }
    
}