
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared_style */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
}
.text-lightgray{
    color: #727272;
}
.bg-light{
   background-color:  rgba(255, 144, 14, 0.1);
}

/* navbar_style */
.navlink{
    list-style: none;

}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.navli{
    text-decoration: none;
    margin-right:10px ;

}
.navlist{
    display: flex;
   
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar{
    max-width: 1440px;
    margin:0 auto;
}
/* banner-style */
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 32px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;

}
.btn-primary{
    color:#FFFFFF;
    background-color: #FF900E;
    padding:20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border:1px solid black;
}
.banner-image{
    width:100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
/* team and feature realated style */
.team{
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.our-feature{
   margin-left: 130px;
   max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;

}
#Quick{
    color: #727272;
}
/* feature related style  */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-cards .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature{
    gap:100px;
}
.feature-cards{
    padding:30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;

}
.feature-imag{
    width: 100%;
}
#experience-badge{
    padding:45px 42px;
    font-size:1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
/* fact-related style  */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.fact{
    border:1px solid #FF900E;
    width: 240px;
    height: 240px;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 530px;
}
/* sponsor related style  */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
   
    text-align: center;
}
.sponsor-comapanies{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.sponsor-comapanies img{
    filter: grayscale(100%);
}
/* small device */
@media  screen and (max-width:576px) {
    .navlist ,.display-flex ,.team ,
     .feature {
        flex-direction: column;
    }
    .team-image ,.fact-container,
    .sponsor-comapanies
    {
        grid-template-columns: repeat(1,1fr);
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
    .our-feature{
        margin-left: 20px;
    }
    .fact-container,
    .sponsor-comapanies{
        justify-items: center;
        gap: 24px;
    }


    
}
/* medium device */
@media screen  and (min-width:576px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px;
    }
    .sponsor-comapanies , .fact-container{
        grid-template-columns: repeat(2,1fr);
        gap:50px;
        justify-items: center;
    }
    
}